@import "tailwindcss";
@import "@nuxt/ui";
@layer utilities {
  .rtl {
    direction: rtl;
  }
}
.dark{
    background-color: #111827 !important;
}
:root {
  --ui-primary: #00acc1;
}
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('../fonts/iransanefa/IRANSansWebFaNum-Light.eot');
  src: url('../fonts/iransanefa/IRANSansWebFaNum-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/iransanefa/IRANSansWebFaNum-Light.woff2') format('woff2'),
       url('../fonts/iransanefa/IRANSansWebFaNum-Light.woff') format('woff'),
       url('../fonts/iransanefa/IRANSansWebFaNum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Create separate @font-face declarations for different weights */
@font-face {
  font-family: 'IRANSansFaNum';
  src: url('../fonts/iransanefa/IRANSansXFaNum-Regular.woff2') format('woff2'),
       url('../fonts/iransanefa/IRANSansXFaNum-Regular.woff') format('woff'),
       url('../fonts/iransanefa/IRANSansXFaNum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansFaNum';
  src: url('../fonts/iransanefa/IRANSansXFaNum-Bold.woff2') format('woff2'),
       url('../fonts/iransanefa/IRANSansXFaNum-Bold.woff') format('woff'),
       url('../fonts/iransanefa/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*{
  font-family: IRANSansFaNum !important;
}
